.about {
    margin: 0 auto;
    font-size: 1.2em;

    h1 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .text {
        img {
            width: 350px;
            padding: 30px;
        }

        line-height: 1.4;
    }

    .objectives {

        .obj {
            transform: none;
            text-align: center;
            color: black;

            img {
                margin-bottom: 20px;
            }
        }
    }

    .brands {
        gap: 100px;

        img {
            width: max-content;
            height: 200px;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

        .wide-img {
            width: 400px;
            height: max-content;
        }
    }
}

.meet-our-team {

    .uppercase {
        text-transform: uppercase;
    }

    .ceo {
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 30px auto;

        img {
            border-radius: 15px;
            padding: 0;
        }

        .btn {
            padding: 15px 30px;
        }
    }

    .members {
        width: 90%;
        justify-content: space-around;
        margin: 60px auto;
        gap: 30px;
    }

    .member {
        padding: 20px;
        text-align: center;
        background-color: #bebebe;
        border-radius: 15px;
        transition: 0.3s;
        cursor: pointer;

        img {
            width: 100%;
            height: 350px;
            border-radius: 10px;
            object-fit: cover;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.ceo-page {
    margin: auto;

    .header {
        align-items: center;

        .extra-bold {
            font-size: 4em;
            text-align: center;
        }
    }

    p,
    ul {
        font-size: 1.2em;
        line-height: 1.8;
    }

    .about {
        img {
            margin: 0 30px;
            width: 400px;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .meet-our-team {
        .ceo {
            .col-md-4 {
                width: 60%;
            }
        }
    }

    .members {
        .col-md-3 {
            width: 47%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .brands {
        justify-content: center;
    }

    .ceo-page {
        h1 {
            margin-top: 20px;
        }

        .about img {
            margin: auto;
            margin-bottom: 20px;
        }
    }

    .about {

        .brands img {
            height: 150px;
        }

        .float-right {
            float: none;
        }
    }

    .meet-our-team {
        .ceo {
            .col-md-4 {
                width: 100%;
            }
        }
    }

    .members {
        width: 100% !important;

        .col-md-3 {
            width: 100%;
        }
    }
}