.bookInspection,
.consultant {
    margin: 30px auto;
    justify-content: center;

    input,
    textarea {
        padding: 0.6em 1.2em;
        width: 100%;
    }

    .date {
        margin-left: 20px;
    }

    textarea {
        height: 180px;
    }

    .submitBtn {
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    .bookInspection {
        .col-md-6 {
            width: 58%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .bookInspection {

        form {
            margin: 40px 0 !important;
        }

        .col-md-6 {
            width: 100%;
        }
    }
}